
/.venv
/归真/.venv
/归真/.env
*.env
/归真/1/output
/归真/10/audio
/归真/1/audio
*.mp4
/归真/1/images_gen
/归真/10/images_gen
/归真/11/audio
/归真/11/images_gen
/归真/2/audio
/归真/2/images_gen
/归真/21/audio
/归真/21/images_gen
/归真/3/audio
/归真/3/images_gen
/归真/4/audio
/归真/4/images_gen
/归真/5/audio
/归真/5/images_gen
/归真/6/audio
/归真/6/images_gen
/归真/7/audio
/归真/7/images_gen
/归真/8/audio
/归真/8/images_gen
/归真/9/audio
/归真/9/images_gen
